/*
/.**

!/.backup

!/.config
!/.config/nvim
!/.config/nvim/init.vim
!/.config/nvim/rc
!/.config/nvim/rc/**

!/.docker
!/.docker/**

!/.tmux.conf
!/.zshrc

!.gitignore
!.gitkeep

!/install.sh
!/install_app.sh
